@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .strength-indicator-to-weak {
    @apply text-xs font-bold text-warning
  }
  .strength-indicator-weak {
    @apply text-xs font-bold text-warning
  }
  .strength-indicator-medium {
    @apply text-xs font-bold text-accent
  }
  .strength-indicator-strong {
    @apply text-xs font-bold text-success
  }
  .button-idle {
    @apply bg-primary text-textMain py-2 px-4 rounded-md hover:bg-secondar
  }
  .button-hover {
    @apply bg-secondary text-textMain py-2 px-4 rounded-md
  }
  .heading-l {
    @apply text-3xl font-bold text-[#E6E5EA] font-mono tracking-normal leading-normal;
  }
  .heading-m {
    @apply text-2xl font-bold text-[#E6E5EA] font-mono tracking-normal leading-normal;
  }

}
@layer base {
  body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #1A1A1A;
    color: #E6E5EA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
}